@font-face {
  font-family: 'LD-Bold';
  src: url('assets/font/LD-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-ExtraBold';
  src: url('assets/font/LD-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-ExtraLight';
  src: url('assets/font/LD-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-Heavy';
  src: url('assets/font/LD-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-Light';
  src: url('assets/font/LD-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-Medium';
  src: url('assets/font/LD-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-Regular';
  src: url('assets/font/LD-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-SemiBold';
  src: url('assets/font/LD-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LD-Thin';
  src: url('assets/font/LD-Thin.ttf') format('truetype');
}